@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";

.app {
  min-height: 100vh;
  font-size: var(--font-medium);
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}