:root {
    --font-family-main: consolas, "Times New Roman", serif;
    --font-size-medium: 16px;
    --line-height-medium: 24px;
    --font-medium: var(--font-size-medium) / var(--line-height-medium) var(--font-family-main);
    --font-size-large: 24px;
    --line-height-large: 32px;
    --font-large: var(--font-size-large) / var(--line-height-large) var(--font-family-main);
    --font-size-extra-large: 32px;
    --line-height-extra-large: 40px;
    --font-extra-large: var(--font-size-extra-large) / var(--line-height-extra-large) var(--font-family-main);

    // sizes
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
}
