.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    color: var(--primary-color);
    opacity: 0;
    pointer-events: none;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
}

.content {
    padding: 20px;
    max-width: 60%;
    border-radius: 12px;
    background-color: var(--bg-color);
    transition: 0.3s transform;
    transform: scale(0.5);
}

.opened {
    z-index: var(--modal-z-index);
    pointer-events: auto;
    opacity: 1;

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.2);
    }
}
