.app.dark {
  --bg-color: #05386B;
  --inverted-bg-color: #fdfbfb;

  --primary-color: #08a208;
  --secondary-color: #0f4f0f;
  --inverted-primary-color: #05386B;
  --inverted-secondary-color: #0f89f6;
}