.app.light {
  --bg-color: #fdfbfb;
  --inverted-bg-color: #05386B;

  --primary-color: #0a5db2;
  --secondary-color: #0a5093;
  --inverted-primary-color: #08a208;
  --inverted-secondary-color: #0f4f0f;
}